@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.judulpage {
    margin-top: 30px;
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0px;
}

.isi {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 28px;
    margin-top: 0px;
}

.card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-position: center;
    background-size: cover;
}

.card {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 100px 100px 120px;
    grid-template-areas: "image" "text";
    margin: 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 25px rgb(212, 209, 209);
    text-align: center;
    cursor: pointer;
    margin-bottom: 120px;
}

.card-image {
    grid-area: image;
    margin-top: 5px;
    margin-bottom: 0px;
}

.card .one {
    background: url(../img/Order.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.card .two {
    background: url(../img/Wait.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.card .three {
    background: url(../img/Deliver.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.card-text {
    grid-area: text;
    margin: 20px;
}

.card-text .name {
    color: #0455c0;
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.card-text p {
    color: #838fa7;
    font-size: 15px;
    font-weight: 350;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 25px rgb(151, 148, 148);
}

.coverbg {
    background-image: url(../img/bgdua.jpg);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
